version: '3.8'
networks:
  monitoring:
    driver: bridge
volumes:
  prometheus-data:
    driver: local
  grafana-data:
    driver: local
services:
#### Prometheus ####
  prometheus:
    image: prom/prometheus:v2.37.9
    container_name: prometheus
    ports:
      - 1783:9090
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    volumes:
      - ./config/:/etc/prometheus/
      - ./data:/prometheus/data/
    restart: unless-stopped
#### BlackBox ####
  blackbox:
    image: prom/blackbox-exporter
    volumes:
      - ./blackbox/blackbox.yaml:/etc/blackbox_exporter/config.yml
    command:
      - '--config.file=/etc/blackbox_exporter/config.yml'
    ports:
      - '9115:9115'
    restart: unless-stopped
#### Grafana ####
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - '3000:3000'
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      GF_RENDERING_SERVER_URL: http://renderer:8081/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000/
      GF_LOG_FILTERS: rendering:debug
    restart: unless-stopped
#### Grafana Renderer ####
  renderer:
    image: grafana/grafana-image-renderer:latest
    ports:
      - 8081
    restart: unless-stopped
#### ASCIIDoctor (for reports) ####
  asciidoctor:
    image: asciidoctor/docker-asciidoctor
    container_name: asciidoctor
    ports:
      - "8815:8815"
    hostname: asciidoctor
    volumes:
      - ./reportgen:/documents
    command:
      sh /documents/startup.sh
    restart: unless-stopped
#### AlertManager ####
  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alert:/etc/alertmanager
    restart: unless-stopped
### YACE (Yet-another Cloudwatch Exporter) ####
  yace:
    build:
      context: ./yet-another-cloudwatch-exporter
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      AWS_REGION: ap-south-1
    ports:
      - "8099:8099"
    volumes:
      - ./yace/yace-config.yaml:/tmp/config.yml
    command:
      - -listen-address=:8099
      - -config.file=/tmp/config.yml







      	



        


