grafana:
  default:
    host: <insert_grafana_url_with_port>
    api_key: <insert_api_key>

grafana-reporter:
# Specifies how often the reporter shall check for newer versions [number of days].
# You may set check-for-updates to 0 to disable
  check-for-updates: 7
  report-class: GrafanaReporter::Asciidoctor::Report
  templates-folder: ./templates
  reports-folder: ./reports
  report-retention: 168
  webservice-port: 8815

default-document-attributes:
  imagesdir: ./images
